{% extends "base.html" %}

{% block content %}
<div class="container">   
        <div class="row">        
                <div class="col gx-5 py-5 align-self-center"><img class="card-img-top mb-5 mb-md-0" src="{{ picture_content1 }}" alt="..." /></div>
                <div class='col gx-5 py-5'> {{ text_content1 }}</div>                        
        </div>
        <div class="row">                        
                <div class='col gx-5 py-5'> {{ text_content1 }}</div>                        
                <div class="col gx-5 py-5 align-self-center"><img class="card-img-top mb-5 mb-md-0" src="{{ picture_content1 }}" alt="..." /></div>
        </div>    
</div>
{% endblock content %}

